.divc{
    background-color:darkgreen;
border-radius: 100px 2px solid aquamarine;
}
.hh3{
background: white;
}
.hhh3{
    background: white;
}
.bd{
    background-color: black !important;
}
.h1{
    background: white;
}
.divv3{
    background-color: darkgreen;
    border-radius: 100px 2px solid aquamarine;
}
.qdm{
    background-color: white;
}
.tp{
    background-color: white;;
}
.tp2{
    background-color: white;
}
.n1{
    background-color: white;
}
.n2{
    background-color: white;
}
#output{
    border-top:10px solid darkgreen
}